<p> Hello World</p>

<p> These are the endpoints: </p>

<% attributes = @endpoints.first.attributes.keys %>
<table class='basic_datatable table table-striped table-bordered'>
  <thead>
    <tr>
      <% attributes.each do |attr| %>
        <th><%= attr %></th>
      <% end %>
     </tr>
  </thead>
  <tbody>
     <% @endpoints.each do |endpoint| %>
       <tr>
         <% attributes.each do |attr| %>
           <td><%= endpoint[attr].is_a?(Hash) ? ap(endpoint[attr], plain: true).html_safe : endpoint[attr]%></td>
         <% end %>
       </tr>
     <% end %>
  </tbody>
</table>
